body {
	background-image: url(../images/sw_bg.jpg);
	background-size: 100%;
	padding-top: 60px;
}

.section {

}

.player, .player-noselection {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 172px;
	border: 1px solid #333;
	padding: 0px 10px 0px 10px;
	margin-right: 5px;
	background-color: #ddd;
}

.player img:hover {
	opacity: 0.5;
}

.player-name, .player-health {
	font-weight: 600;
}

.player-layer {
	display: flex;
	justify-content: flex-start;
	flex-flow: row nowrap;
}

.active-player {
	border: 1px solid #0f0;
}

#action-log {
	border: 1px solid #ccc;
	background-color: #2efccc;
	overflow: auto;
	height: 300px;
}

.layer-title {
	color: #fff;
}
